<div class="row marketing">
  <h4>Customer: {{accountNo}}</h4>
  <button type="button" class="btn btn-default btn-lg" ng-click="toggleTable()">
    <div ng-show="table"><span class="glyphicon glyphicon-th-list" aria-hidden="true" ></span> Table</div>
    <div ng-hide="table"><span class="glyphicon glyphicon-th-large" aria-hidden="true" ></span> Grid</div>
  </button>
  <hr />
  <div ng-hide="table">
    <table class="table table-striped" >
     <thead>
       <tr>
         <td>ID</td>
         <td>Symbol</td>
         <td>Quantity</td>
       </tr>
     </thead>
      <tbody>
      <tr ng-repeat="position in positions">
       <td>{{position}}</td>
       <td>{{position.symbol}}</td>
       <td>{{position.quantity}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div ng-show="table">
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3" ng-repeat="position in positions | unique: 'symbol'">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          {{position.symbol}}
        </div>
        <div class="panel-body">
          <strong>Quantity: {{position.quantity}}</strong>
        </div>
        <div class="panel-footer text-center">
          <button ng-click="loadSymbol(position.symbol);">Details</button>
        </div>
      </div>
      </div>
  </div>
</div>
